extends layout

block content
    h1= title
    form#formNewProject(name="newproject",method="post",action="/newproject")
        input#inputprojectname(type="text", placeholder="projectname", name="projectname")
        button#btnSubmit(type="submit") submit