<!doctype html>
<html>
  <head>
    
 

  </head>
  <body>
    <div class="container">
      <form>
        <div class="form-group">
          <textarea class="form-control status-box" rows="2" placeholder="project name"></textarea>
        </div>
      </form>
      <div class="button-group pull-right">
        
        <a href="#" class="btn btn-primary">Post</a>
      </div>
    
      <ul class="posts">
      </ul>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    <script src="C:/project-bearcan/Project-bearcan/app.js"></script>
    <script type='text/javascript' src='app.js'></script>

      
  </body>
</html>